:host {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #999;
    background-color: #000;
    position: relative;

    .backdrop {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 71.1%;
      height: 100%;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        background-image: linear-gradient(to right, #000 0, transparent 50%, transparent 100%);

      }

      .movie-poster {
        display: inline-block;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .pane {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      width: 35%;
      height: 100%;
      padding: 0 4rem 4rem;

      .name {
        margin: 0 0 1.4rem;
        font-size: 2.8rem;
        line-height: 1.1;
        color: #fff;
        letter-spacing: 0.4px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
      }

      .meta {
        font-size: 1.4rem;

        .info {
          .rate {
            color: #dcf836;

            i {
              font-size: 1.6rem;
            }
          }

          span:not(:last-child):after {
            content: "|";
            margin-right: 9px;
            margin-left: 9px;
          }
        }
      }

      .desc {
        display: block;
        margin-top: 2.5rem;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  ::ng-deep mat-carousel {
    .carousel-slide-content {
      background-color: white;
    }
  }
}
