:host {
  .search-field{
    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
   mat-form-field {
     width: 100%;
   }
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
