<div class="movie-card">
  <img [src]="posterUrl+'/'+movie.poster_path" alt="poster" class="poster">
  <div class="description">
    <div class="movie-info">
      <p>{{movie?.title}}</p>
      <p>{{movie?.release_date | date: 'yyyy' }}</p>
    </div>
  </div>
  <div class="details">
    <div class="rating">
      <ng-container *ngFor="let star of rating(movie)">
        <span>⭐️</span>
      </ng-container>
    </div>
    <div class="genres-container">
      <ul class="genres-list">
        <ng-container *ngFor="let genre of movie.genres | slice: 0: 3 ">
          <li class="genres-item">{{genre}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="button-container">
      <button
        (click)="navigateToDetails(movie)"
        mat-raised-button
        color="primary">
        {{'landing.movieDetails' | transloco}}
      </button>
    </div>
  </div>
</div>
